.div1 {
    background: linear-gradient(to right, #00979d 0%, #0bd3af 100%);
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
}

h4.create {
    font-size: 20px;
    color: #ffffff;
}

// img
img.profilepic {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.alert-radio-label.sc-ion-alert-md {
    font-size: 14px !important;
}

.div2 {
    background: #333333;
    padding-left: 10px;
    padding-bottom: 1px;
    padding-top: 3px;
    color: #ffffff;
}

// Applies a text wrap on ion options
.alert-tappable.alert-radio {
    height: auto;
    contain: content;
}

.alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios {
    white-space: normal;
}

.popover-content {
    min-width: 90% !important;
}

.div4 {
    background: #333333;
    margin-top: 15px;
    padding-left: 10px;
    padding-bottom: 1px;
    padding-top: 3px;
    color: #ffffff;
}

ion-button {
    font-weight: 300;
    --background: linear-gradient(to right, #00979d 0%, #0bd3af 100%);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

// .upload[_ngcontent-uch-c135] {
//     text-align: center;
//     background: #000000a1;
//     width: 25%;
//     /* height: 26px; */
//     margin: auto;
//     margin-top: auto;
//     margin-right: auto;
//     margin-bottom: auto;
//     /* padding: 2px; */
//     /* margin-left: 134px; */
//     color: white;
//     /* position: absolute; */
//     /* top: 100px; */
// }

.upload {
    text-align: center;
    background: #000000a1;
    width: 25%;
    /* height: 26px; */
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    /* padding: 2px; */
    /* margin-left: 134px; */
    color: white;
    /* position: absolute; */
    /* top: 100px; */
}

// select
ion-label#ion-sel-1-lbl {
    color: #b4b4b4;
}

ion-item.item.md.ion-activatable.ion-focusable.item-label.hydrated.item-interactive.item-select.item-has-value {
    color: #b4b4b4;
}



// UpdateProfile
.new-background-color {
    --background: linear-gradient(to right, #00979d 0%, #0bd3af 100%);
    border: 0px !important;
}

ion-title.md.title-default.hydrated {
    color: #ffffff;
    text-align: center;
}

// div
.div11 {
    margin: 10px;
    background: #d3d3d317;
    // height: 640px;
    padding-top: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 13px 92px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 13px 92px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -11px 54px -20px rgba(0, 0, 0, 0.75);
}

ion-row.row1.md.hydrated {
    padding-left: 10px;
    padding-right: 10px;
}

h5.h5 {
    font-size: 13px;
    color: #ffffff;
}

h5.h55 {
    font-size: 13px;
    color: black;
}

ion-col.colss.md.hydrated {
    background: black;
}

ion-col.cols.md.hydrated {
    background: #edf2f3;
    /* color: black; */
}

ion-row.row2.md.hydrated {
    margin-top: 15px;
    text-align: center;
    border: 1px solid lightgray;
}

ion-button.edit.md.button.button-small.button-solid.ion-activatable.ion-focusable.hydrated {
    height: 20px;
    margin-top: -20px;
    margin-left: -3px;
    padding-left: 10px;
    font-size: 12px;
    text-transform: capitalize;
}

// card
ion-card.md.hydrated {
    width: 100%;
    padding: 10px;
}

p.userdes {
    margin-top: -6px;
}

p.address {
    margin-top: -15px;
}

h5.username {
    color: black;
}

// time
ion-button.time.md.button.button-block.button-solid.ion-activatable.ion-focusable.hydrated {
    font-weight: 300;
    --background: linear-gradient(to right, #00979d 0%, #0bd3af 100%);
    margin: 10px;
}

// message
ion-button.message.md.button.button-block.button-solid.ion-activatable.ion-focusable.hydrated {
    margin-left: 10px;
    color: #0ad2af;
    --background: none;
    margin-right: 10px;
}

// icons
ion-icon.md.hydrated {
    font-size: 25px;
    color: #ffffff;
    padding-left: 10px;
}

// Addicons
ion-icon.add.md.hydrated {
    color: #ffffff;
    background: grey;
    padding-left: 0px;
    border-radius: 4px;
    font-size: 30px;
}

ion-back-button.md.button.back-button-has-icon-only.in-toolbar.ion-activatable.ion-focusable.hydrated {
    display: block;
    color: #ffffff;
}

.main-pro{
    width: 118px;
    height: 118px;
}