.new-background-color {
    --background: linear-gradient(to right, #00979d 0%, #0bd3af 100%);
    border: 0px !important;
}

ion-title.md.title-default.hydrated {
    color: #ffffff;
    text-align: center;
}


// icons
ion-icon.md.hydrated {
    font-size: 15px;
    color: #1d2124;
    padding-left: 10px;
}

// search
.search {
    position: absolute;
    width: 100%;
    top: 100px;
}

// ion-searchbar.sc-ion-searchbar-md-h.sc-ion-searchbar-md-s.md.searchbar-left-aligned.hydrated {
//     margin-left: 10px;
//     margin-right: 10px;
// }


ion-back-button.md.button.back-button-has-icon-only.in-toolbar.ion-activatable.ion-focusable.hydrated {
    display: block;
    color: #ffffff;
}


// list of search
img.img-responsive {
    position: relative;
    height: 200px;
}

ion-searchbar.sc-ion-searchbar-md-h.sc-ion-searchbar-md-s.md.searchbar-left-aligned.hydrated {
    position: absolute;
}

ion-col.icons.md.hydrated {
    bottom: 60px;
    color: #ffffffbf;
    font-size: 40px;
}

ion-col.search.md.hydrated {
    bottom: 64px;
}

h1.logo {
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

h3.logo {
    font-size: 23px;
    text-align: center;
    color: #ffffffb8;
    font-weight: 500;
    margin: 0;
}

// ion-card.md.hydrated {
//     width: 100%;
// }

ion-row.slider.md.hydrated {
    text-align: center;
}

img.img {
    border-radius: 50px;
}

ion-row.sliders.md.hydrated {
    margin-top: -65px;
}

.texts {
    position: absolute;
    top: 78px;
    width: 100%;
}

.text-tr{
    text-transform: capitalize;
}