<ion-content>
  <ion-grid>
    <img src="" alt="">
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h1 class="logo">Ufavours</h1>
          <p class="text">
            We make a living by what we get. We make a life by <br>
            what we give.<br>
            <!-- A favour for a favour -->
          </p>
        </div>
        <div padding>
          <ion-item style="--background: transparent; --border-color: white;">
            <ion-icon name="mail-outline"></ion-icon>&nbsp;
            <ion-input type="text" placeholder="Username" [(ngModel)]="email"></ion-input>
          </ion-item>
          <ion-item style="--background: transparent; --border-color: white;">
            <ion-icon name="lock-open-outline"></ion-icon>&nbsp;
            <ion-input type={{inputpassword}} [(ngModel)]="password" placeholder="Password"></ion-input>
            <ion-icon name="eye-off" *ngIf="hideicon" (click)="showicon()" class="look-icon"></ion-icon>
            <ion-icon name="eye" *ngIf="!hideicon" (click)="againhideicon()" class="look-icon"></ion-icon>
          </ion-item>
          <p class="forget" (click)="onForgots()">Forgot your Password?</p>
        </div>
        <div padding>
          <ion-button expand="block" (click)="onLogin()">Login</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p class="signup" (click)="onSignup()">New to Ufavours? <span>Sign up</span> </p>
</ion-content>