<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="row1">
      <ion-item style="--background: transparent; --border-color: white;">
        <ion-icon name="mail-outline"></ion-icon>&nbsp;
        <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <div padding>
        <ion-button expand="block" (click)="onUpdate()">Update Password</ion-button>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>