ion-content {
    --background: url('../../../assets/images/Ufavoursimages/Welcome-page.jpg') 0 0/100% 100% no-repeat;
}

ion-title.md.title-default.hydrated {
    text-align: center;
}

ion-grid {
    height: 100%;
}

.new-background-color {
    --background: linear-gradient(to right, #00979d 0%, #0bd3af 100%);
    border: 0px !important;
}

ion-title.md.title-default.hydrated {
    color: #ffffff;
    text-align: center;
}

ion-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    margin-top: 30%;
}

ion-row.row1.md.hydrated {
    background: #e9ecef;
}