<ion-content>
  <img src="../../../assets/images/Ufavoursimages/Homepage.jpg" class="img-responsive" alt="Image">
  <div class="texts">
    <h3 class="logo">Welcome</h3>
    <h1 class="logo">Ufavours</h1>
  </div>
  <ion-row>
    <ion-col size="10" class="search">
      <ion-searchbar></ion-searchbar>
    </ion-col>
    <ion-col size="2" class="icons" (click)="onSearch()">
      <ion-icon name="options"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row class="sliders">
    <ion-slides class="slides" [options]="slideOpts1">
      <ion-slide class="ion-slide" *ngFor="let list of allSkilllist" (click)="onskillCategory(list)">
        <ion-avatar>
          <img [src]="api_service.API_BASE + list.image" class="imgslide" (click)="sliderGo(list)" />
          <p class="name" style="font-size:14px;position:absolute;bottom: 0px;color: black;font-weight: bolder;">
            {{list.skill_name}}</p>
        </ion-avatar>
      </ion-slide>
    </ion-slides>
  </ion-row>


  <ion-row>
    <ion-card *ngFor="let list of reviewList">
      <ion-row>
        <ion-col class="imgs" size="4">
          <img [src]="api_service.API_BASE + list.image" class="main-profile" *ngIf="list && list.image" alt="">
          <img src="../../../assets/images/Ufavoursimages/Child.jpg" *ngIf="list && !list.image" class="img">
        </ion-col>
        <ion-col size="8">
          <ion-label>
            <h2>{{list.name}}</h2>
            <!-- <div class="star-rating" [innerHTML]="api_service.getStarMarks(list.rating)"></div> -->
            <h3>{{list.rating_text}}</h3>
            <p>{{list.review_text}}</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card>

  </ion-row>
</ion-content>