.new-background-color {
    --background: linear-gradient(to right, #00979d 0%, #0bd3af 100%);
    border: 0px !important;
}

ion-title.md.title-default.hydrated {
    color: #ffffff;
    text-align: center;
}

ion-content {
    --background: url('../../../assets/images/Ufavoursimages/Send-message-page.jpg') 0 0/100% 100% no-repeat;
}

ion-row.row1.md.hydrated {
    background-color: #f5f6fa;
    margin-left: auto;
    margin-right: auto;
    /* margin: auto; */
    width: 90%;
    margin-top: 20px;
}

ion-button.md.button.button-block.button-solid.ion-activatable.ion-focusable.hydrated {
    width: 100%;
    margin: 10px;
}

ion-button {
    font-weight: 300;
    --background: linear-gradient(to right, #00979d 0%, #0bd3af 100%);
}

ion-back-button.md.button.back-button-has-icon-only.in-toolbar.ion-activatable.ion-focusable.hydrated {
    display: block;
    color: #ffffff;
}