.new-background-color {
    --background: linear-gradient(to right, #00979d 0%, #0bd3af 100%);
    border: 0px !important;
}

ion-title.md.title-default.hydrated {
    color: #ffffff;
    text-align: center;
}

// icons
ion-icon.md.hydrated {
    font-size: 25px;
    color: #ffffff;
    padding-left: 10px;
}

h5.username {
    color: black;
    font-weight: 600;
    font-size: 15px;
}

p.address {
    font-size: 12px;
    margin-top: -14px;
}

p.userdes {
    font-size: 14px;
    margin-top: -6px;
}

// status icons
img.iconss {
    height: 0.6em;
}

// p.status {
//     color: #4ed966;
// }

.greenColor{
    color: #4ed966;
    text-transform: capitalize;
}

.redColor {
    color:red;
    text-transform: capitalize;
}
.yellowColor {
    color:yellow;
    text-transform: capitalize;
}