<ion-header class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-searchbar></ion-searchbar>
  </ion-row>

  <!-- Label only -->
  <ion-segment [(ngModel)]="notification">
    <ion-segment-button value="for" style="text-transform: capitalize;">
      Requests for me
    </ion-segment-button>
    <ion-segment-button value="from" style="text-transform: capitalize;">
      Requests from me
    </ion-segment-button>
  </ion-segment>

  <!-- <div>
    <ion-spinner></ion-spinner>
  </div> -->

  <div [ngSwitch]="notification">
    <ion-list *ngSwitchCase="'for'">
      <p class="not-found" *ngIf="forFlag">No Requests for me</p>
      <ion-card *ngFor="let list of requestForMe">
        <ion-row (click)="onAcceptRequest(list)" routerDirection="forward"  [ngClass]="{unread: list.read_status == 0}">
          <ion-col size="4">
            <img [src]="api_service.API_BASE + list.picture" class="main-profile" *ngIf = "list && list.picture" alt="">
            <img src="../../../assets/images/Ufavoursimages/Child.jpg"  *ngIf = "list && !list.picture" alt="">
          </ion-col>
          <ion-col size="8">
            <h5 class="username">{{list.name}}</h5>
            <p class="userdes">{{list.job}}</p>
            <p class="address">{{list.task_details}}.</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'from'">
      <p class="not-found" *ngIf="fromFlag">No Requests from me</p>
      <ion-card *ngFor="let list of requestFromMe" >
        <ion-row routerDirection="forward" (click)="onRequestFromMe(list)" >
          <ion-col size="4">
            <img [src]="api_service.API_BASE + list.picture" class="main-profile" *ngIf = "list && list.picture" alt="">
            <img src="../../../assets/images/Ufavoursimages/Child.jpg"  *ngIf = "list && !list.picture" alt="">
          </ion-col>
          <ion-col size="5">
            <h5 class="username">{{list.name}}</h5>
            <p class="userdes">{{list.job}}</p>
            <p class="address">{{list.task_details}}</p>
          </ion-col>
          <ion-col size="3">
            <p class="status" *ngIf="list && list.status == 'completed'"><img
                src="../../../assets/images/Ufavoursimages/approvedicon.png" alt="" class="iconss">
              <small class="greenColor">{{list.status}}</small></p>
            <p class="status" *ngIf="list && list.status == 'pending'"><img
                src="../../../assets/images/Ufavoursimages/pendingicon.png" alt="" class="iconss">
              <small class="yellowColor" >{{list.status}}</small>
            </p>
            <p class="status"  *ngIf="list && list.status == 'reject'"><img
                src="../../../assets/images/Ufavoursimages/declineicon.png" alt="" class="iconss">
              <small class="redColor">{{list.status}}</small>
            </p>
          </ion-col>
        </ion-row>
      </ion-card>

    </ion-list>
  </div>

</ion-content>