<ion-header class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-searchbar></ion-searchbar>
  </ion-row>

  <!-- Label only -->
  <ion-segment [(ngModel)]="notification">
    <ion-segment-button value="for" style="text-transform: capitalize;">
      Requests for me
    </ion-segment-button>
    <ion-segment-button value="from" style="text-transform: capitalize;">
      Requests from me
    </ion-segment-button>
  </ion-segment>

  <!-- <div>
    <ion-spinner></ion-spinner>
  </div> -->
  
  <div [ngSwitch]="notification">
    <ion-list *ngSwitchCase="'for'">
      <ion-card *ngFor="let list of requestForMe">
        <ion-row (click)="onAcceptRequest(list)" routerDirection="forward">
          <ion-col size="4">
            <img src="../../../assets/images/Ufavoursimages/Child.jpg" alt="">
          </ion-col>
          <ion-col size="8">
            <h5 class="username">{{list.name}}y</h5>
            <p class="userdes">{{list.job}}</p>
            <p class="address">{{list.task_details}}.</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'from'">
      <ion-card *ngFor="let list of requestFromMe">
        <ion-row routerDirection="forward" (click)="onRequestFromMe(list)">
          <ion-col size="4">
            <img src="../../../assets/images/Ufavoursimages/Child.jpg" alt="">
          </ion-col>
          <ion-col size="5">
            <h5 class="username">{{list.name}}</h5>
            <p class="userdes">{{list.job}}</p>
            <p class="address">{{list.task_details}}</p>
          </ion-col>
          <ion-col size="3">
            <p class="status"><img src="../../../assets/images/Ufavoursimages/approvedicon.png" alt="" class="iconss">
              <small class="greenColor" *ngIf="list && list.status == 'approved'">{{list.status}}</small>
              <small class="yellowColor" *ngIf="list && list.status == 'pending'">{{list.status}}</small>
              <small class="redColor" *ngIf="list && list.status == 'reject'">{{list.status}}</small>
            </p>
          </ion-col>
        </ion-row>
      </ion-card>

    </ion-list>
  </div>

</ion-content>