.new-background-color {
    --background: linear-gradient(to right, #00979d 0%, #0bd3af 100%);
    border: 0px !important;
}

ion-title.md.title-default.hydrated {
    color: #ffffff;
    text-align: center;
}


// icons
ion-icon.md.hydrated {
    font-size: 25px;
    color: #ffffff;
    padding-left: 10px;
}

h5.username {
    color: black;
    font-weight: 600;
    font-size: 15px;
}

p.address {
    font-size: 12px;
    margin-top: -14px;
}

p.userdes {
    font-size: 14px;
    margin-top: -6px;
}

// row2
ion-row.row2.md.hydrated {
    margin: 10px;
    background: lightgray;
    padding-left: 10px;
    padding-top: 10px;
}

ion-button.message.md.button.button-block.button-solid.ion-activatable.ion-focusable.hydrated {
    --background: linear-gradient(to right, #00979d 0%, #0bd3af 100%);
    font-weight: 300;
    margin: 10px;
}

ion-button.time.md.button.button-block.button-solid.ion-activatable.ion-focusable.hydrated {
    text-transform: capitalize;
    --background: none;
    color: #09cbac;
    font-size: 13px;
    font-weight: bolder;
}

ion-button.feedback.md.button.button-block.button-solid.ion-activatable.ion-focusable.hydrated {
    text-transform: capitalize;
    --background: none;
    color: #09cbac;
    font-size: 13px;
    font-weight: bolder;
}

ion-back-button.md.button.back-button-has-icon-only.in-toolbar.ion-activatable.ion-focusable.hydrated {
    display: block;
    color: #ffffff;
}