<ion-header class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <!-- <ion-icon name="chevron-back-outline" slot="start" (click)="onBack()"></ion-icon> -->
    <ion-buttons slot="start">
      <ion-back-button (click)="onBack()" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Time Validation Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-searchbar></ion-searchbar>
  </ion-row>

  <ion-card>
    <ion-row>
      <ion-col size="4">
        <img [src]="api_service.API_BASE + requestData.picture" class="main-profile"
          *ngIf="requestData && requestData.picture" alt="">
        <img src="../../../assets/images/Ufavoursimages/Child.jpg" *ngIf="requestData && !requestData.picture" alt="">
      </ion-col>
      <ion-col size="8">
        <h5 class="username" *ngIf="requestData">{{requestData.name}}</h5>
        <p class="userdes" *ngIf="requestData">{{requestData.skill}}</p>
        <p class="address">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet veniam facilis.</p>
      </ion-col>
    </ion-row>
  </ion-card>
  <div padding class="div3">
    <ion-item
      style="border-radius: 5px; margin-left: 10px; margin-right: 10px;    border: 1px solid lightgrey; height: 45px; margin-top: 10px;">
      <ion-label>Amount</ion-label>
      <ion-select multiple="false" cancelText="Cancel" okText="Okay!" [(ngModel)]="workingTime">
        <ion-select-option value="0.5 hours">0.5 hour</ion-select-option>
        <ion-select-option value="1 hours">1 hour</ion-select-option>
        <ion-select-option value="2 hours">2 hours</ion-select-option>
        <ion-select-option value="1/2 days">1/2 day</ion-select-option>
        <ion-select-option value="1 days">1 day</ion-select-option>
        <ion-select-option value="1.5 days">1.5 days</ion-select-option>
        <ion-select-option value="2 days">2 days</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

</ion-content>
<ion-footer no-border>
  <div padding>
    <ion-button expand="block" (click)="onRequest()">Propose New Time</ion-button>
  </div>
</ion-footer>