<ion-header class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <!-- <ion-icon name="chevron-back-outline" slot="start" (click)="onBack()"></ion-icon> -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="othersprofile" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Time Validation Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-searchbar></ion-searchbar>
  </ion-row>

  <ion-card>
    <ion-row>
      <ion-col size="4">
        <img src="../../../assets/images/Ufavoursimages/Child.jpg" alt="">
      </ion-col>
      <ion-col size="8">
        <h5 class="username">Stephen Messy</h5>
        <p class="userdes">Software Engineer</p>
        <p class="address">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet veniam facilis.</p>
      </ion-col>
    </ion-row>
  </ion-card>
  <div padding class="div3">
    <ion-item
      style="border-radius: 5px; margin-left: 10px; margin-right: 10px;    border: 1px solid lightgrey; height: 45px; margin-top: 10px;">
      <ion-label>Amount</ion-label>
      <ion-select multiple="true" cancelText="Nah" okText="Okay!">
        <ion-select-option value="bacon">Bacon</ion-select-option>
        <ion-select-option value="olives">Black Olives</ion-select-option>
        <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
        <ion-select-option value="peppers">Green Peppers</ion-select-option>
        <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
        <ion-select-option value="onions">Onions</ion-select-option>
        <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
        <ion-select-option value="pineapple">Pineapple</ion-select-option>
        <ion-select-option value="sausage">Sausage</ion-select-option>
        <ion-select-option value="Spinach">Spinach</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

</ion-content>
<ion-footer no-border>
  <div padding>
    <ion-button expand="block" (click)="onRequest()">Request Time</ion-button>
  </div>
</ion-footer>