<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h1 class="logo">Sign up here</h1>
        </div>
        <div padding>
          <ion-item style="border-radius: 5px; margin-left: 10px; margin-right: 10px;">
            <ion-icon name="person-circle-outline"></ion-icon>&nbsp;
            <ion-input type="text" placeholder="Username" [(ngModel)]="username"></ion-input>
          </ion-item>
          <br>
          <ion-item class="item1" style="border-radius: 5px; margin-left: 10px; margin-right: 10px;">
            <ion-icon name="mail-outline"></ion-icon>&nbsp;
            <ion-input type="text" placeholder="Enter Valid Email Address" [(ngModel)]="newemail">
            </ion-input>
          </ion-item>
          <br>
          <ion-item class="item1" style="border-radius: 5px; margin-left: 10px; margin-right: 10px;">
            <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;
            <ion-input type="{{inputpassword1}}" placeholder="Enter Password" [(ngModel)]="newpassword"></ion-input>
            <ion-icon name="eye-off" class="look-icon" *ngIf="hideicon2" (click)="showicon('2')"></ion-icon>
            <ion-icon name="eye" class="look-icon" *ngIf="!hideicon2" (click)="againhideicon('2')"></ion-icon>
          </ion-item>
          <br>
          <ion-item class="item1" style="border-radius: 5px; margin-left: 10px; margin-right: 10px;">
            <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;
            <ion-input type={{inputpassword2}} placeholder="Confirm Password" [(ngModel)]="confirmpassword"></ion-input>
            <ion-icon name="eye-off" class="look-icon" *ngIf="hideicon3" (click)="showicon('3')"></ion-icon>
            <ion-icon name="eye" class="look-icon" *ngIf="!hideicon3" (click)="againhideicon('3')"></ion-icon>
          </ion-item>
        </div>
        <div class="checkbox" (ionChange)="checkTerms()">
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>I agree with the <span (click)="onTermandCondition()">Terms of Use</span> & <span>Privacy
              Policy</span>.</ion-label>
        </div>

        <div padding>
          <ion-button expand="block" [disabled]="termsFlag" (click)="onSignup()">Next</ion-button>
        </div>
        <p class="signup" (click)="onLogin()"><span>Login ?</span> </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>