<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab3" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Skill Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-row *ngFor="let skill of skillsCatDetails" (click)="onskillLists(skill)">
      <ion-col class="imgs" size="4">
        <img src="../../../assets/images/Ufavoursimages/Child.jpg" class="img">
      </ion-col>
      <ion-col size="5">
        <ion-label>
          <h2>{{skill.name}}</h2>
          <h3>{{skill.qualification}}</h3>
          <p>{{skill.job}}</p>
        </ion-label>
      </ion-col>
      <ion-col size="3">
        <p class="text-tr">
          <ion-icon  name="location"></ion-icon>
          {{skill.city}}
        </p>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>