<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab5" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>How to use App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="listtexts">
    <ul class="my-nav">
      <li> Once you have signed up and created your profile, you will be able to search for others via the search
        function based on job title, key words and location.</li>
      <li>The home page shows reviews/testimonials of others who have given time in or around your location.</li>
      <li>Once the favour is complete, the giver will request a validation of time via the button on your profile page,
        you will be able to accept, propose or decline this time. Note, when declining time, feedback MUST be provided
        for monitoring purposes.</li>
      <li>When you have found someone who you wish to approach for time (and have done your due diligence of safety,
        reviews etc) you can message them via their profile page and arrange for the favour and/or agree different
        communication channels you may need. Ufavours is for connecting people, initial messages and time validations
        only.</li>
      <li>In the case of you giving time, as stated in the above point, you will need to request the validation of
        time via the receivers profile page by clicking the 'Time Validation' button. You will be presented with a pop
        up allowing you to select the amount of time given which will then be sent to the receiver for approval.</li>
    </ul>
  </section>
</ion-content>